<mat-toolbar color="primary">
  <span>Xtramile App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditPatientForm()">
    ADD PATIENT
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- PID Column -->
      <ng-container matColumnDef="pid">
        <th mat-header-cell *matHeaderCellDef> PID </th>
        <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Date of birth Column -->
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <!-- gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <!-- phoneNo Column -->
      <ng-container matColumnDef="phoneNo">
        <th mat-header-cell *matHeaderCellDef> Phone No </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
      </ng-container>

      <!-- address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- postcode Column -->
      <ng-container matColumnDef="postcode">
        <th mat-header-cell *matHeaderCellDef> Postcode </th>
        <td mat-cell *matCellDef="let element"> {{element.postcode}} </td>
      </ng-container>

      <!-- state Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <!-- suburb Column -->
      <ng-container matColumnDef="suburb">
        <th mat-header-cell *matHeaderCellDef> Suburb </th>
        <td mat-cell *matCellDef="let element"> {{element.suburb}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openEditPatientForm(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePatient(element.pid)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>